# --------------------
# Database Interfaces:
# --------------------
sqlalchemy
psycopg2
redis

# ---------------------
# Web Based Interfaces:
# ---------------------
# Django>3.0,<4.0
# uvicorn
# fastapi
# flask
# flask-cors
# flask-login
# flask-sqlalchemy
# itsdangerous
# aiofiles
# chalice

# ---------------------
# CLI:
# ---------------------
docopt
tqdm


# numpy
# scipy
# pandas
# pandas-datareader

# # technical analysis, indicator libraries
# ta
# ta-lib
# bta-lib
# pandas-ta
# tulipy

# # database connection, ORM
# psycopg2
# sqlalchemy

# # data providers
# intrinio-sdk
# polygon-api-client
# iexfinance
# yfinance
# quandl
# alpha-vantage
# sec-edgar-downloader

# # visualization
# matplotlib
# plotly
# dash
# mplfinance
# jupyterlab
# pillow

# # web frameworks and extensions
# fastapi
# flask
# flask-cors
# flask-login
# flask-sqlalchemy
# itsdangerous
# aiofiles
# chalice

# # servers, task queue
# uvicorn
# gunicorn
# celery

# # networking
# requests
# boto3
# urllib3
# websocket-client
# websockets

# # other data stores, formats
# redis
# h5py

# # utilities
# beautifulsoup4
# pendulum
# click
# passlib

###### machine learning
# pytorch
# tensorflow
# scikit-learn
# keras
# torch
# opencv-python